# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
.venv39
env/
venv/
ENV/
env.bak/
venv.bak/

# OTX
.otx

# VSCode
.vscode

# Etc
*.log

# Project specific
bin
videos
saved
smart_factory_src
